body {
    background-color: rgb(63, 60, 60);
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

header {
    background: rgb(0, 0, 0);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: orange;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.white {
    color: orange;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

#barba {
    width: 200px;
}

.medium {
    width: 200px;
    height: 200px;
}
